h1{
    background-color: red;
    background-size: 4opx;
    
}

#test-only {
    background-color: whitesmoke;
    height: fit-content;
    margin: auto;
    border: 0in;
    padding: auto;
    font-size: larger;
}
 /* Background  */
body {
    background: bisque;
}
/* The alert message is displayed to send the alert. */
#real-alert {
    background-color: orange;

}

P {
    font-size: large;
}